.pixelCorners,
.pixelCornersWrapper {
  clip-path: polygon(0px calc(100% - 14px),
    2px calc(100% - 14px),
    2px calc(100% - 10px),
    4px calc(100% - 10px),
    4px calc(100% - 6px),
    6px calc(100% - 6px),
    6px calc(100% - 4px),
    10px calc(100% - 4px),
    10px calc(100% - 2px),
    14px calc(100% - 2px),
    14px 100%,
    calc(100% - 14px) 100%,
    calc(100% - 14px) calc(100% - 2px),
    calc(100% - 10px) calc(100% - 2px),
    calc(100% - 10px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 10px),
    calc(100% - 2px) calc(100% - 10px),
    calc(100% - 2px) calc(100% - 14px),
    100% calc(100% - 14px),
    100% 14px,
    calc(100% - 2px) 14px,
    calc(100% - 2px) 10px,
    calc(100% - 4px) 10px,
    calc(100% - 4px) 6px,
    calc(100% - 6px) 6px,
    calc(100% - 6px) 4px,
    calc(100% - 10px) 4px,
    calc(100% - 10px) 2px,
    calc(100% - 14px) 2px,
    calc(100% - 14px) 0px,
    14px 0px,
    14px 2px,
    10px 2px,
    10px 4px,
    6px 4px,
    6px 6px,
    4px 6px,
    4px 10px,
    2px 10px,
    2px 14px,
    0px 14px);
  position: relative;
}
.pixelCorners {
  border: 2px solid transparent;
}
.pixelCornersWrapper {
  width: fit-content;
  height: fit-content;
}
.pixelCornersWrapper .pixelCorners {
  display: block;
  clip-path: polygon(2px 14px,
    4px 14px,
    4px 10px,
    6px 10px,
    6px 6px,
    10px 6px,
    10px 4px,
    14px 4px,
    14px 2px,
    calc(100% - 14px) 2px,
    calc(100% - 14px) 4px,
    calc(100% - 10px) 4px,
    calc(100% - 10px) 6px,
    calc(100% - 6px) 6px,
    calc(100% - 6px) 10px,
    calc(100% - 4px) 10px,
    calc(100% - 4px) 14px,
    calc(100% - 2px) 14px,
    calc(100% - 2px) calc(100% - 14px),
    calc(100% - 4px) calc(100% - 14px),
    calc(100% - 4px) calc(100% - 10px),
    calc(100% - 6px) calc(100% - 10px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 10px) calc(100% - 6px),
    calc(100% - 10px) calc(100% - 4px),
    calc(100% - 14px) calc(100% - 4px),
    calc(100% - 14px) calc(100% - 2px),
    14px calc(100% - 2px),
    14px calc(100% - 4px),
    10px calc(100% - 4px),
    10px calc(100% - 6px),
    6px calc(100% - 6px),
    6px calc(100% - 10px),
    4px calc(100% - 10px),
    4px calc(100% - 14px),
    2px calc(100% - 14px));
}
.pixelCorners::after,
.pixelCornersWrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 14px),
    2px calc(100% - 14px),
    2px calc(100% - 10px),
    4px calc(100% - 10px),
    4px calc(100% - 6px),
    6px calc(100% - 6px),
    6px calc(100% - 4px),
    10px calc(100% - 4px),
    10px calc(100% - 2px),
    14px calc(100% - 2px),
    14px 100%,
    calc(100% - 14px) 100%,
    calc(100% - 14px) calc(100% - 2px),
    calc(100% - 10px) calc(100% - 2px),
    calc(100% - 10px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 10px),
    calc(100% - 2px) calc(100% - 10px),
    calc(100% - 2px) calc(100% - 14px),
    100% calc(100% - 14px),
    100% 14px,
    calc(100% - 2px) 14px,
    calc(100% - 2px) 10px,
    calc(100% - 4px) 10px,
    calc(100% - 4px) 6px,
    calc(100% - 6px) 6px,
    calc(100% - 6px) 4px,
    calc(100% - 10px) 4px,
    calc(100% - 10px) 2px,
    calc(100% - 14px) 2px,
    calc(100% - 14px) 0px,
    14px 0px,
    14px 2px,
    10px 2px,
    10px 4px,
    6px 4px,
    6px 6px,
    4px 6px,
    4px 10px,
    2px 10px,
    2px 14px,
    0px 14px,
    0px 50%,
    2px 50%,
    2px 14px,
    4px 14px,
    4px 10px,
    6px 10px,
    6px 6px,
    10px 6px,
    10px 4px,
    14px 4px,
    14px 2px,
    calc(100% - 14px) 2px,
    calc(100% - 14px) 4px,
    calc(100% - 10px) 4px,
    calc(100% - 10px) 6px,
    calc(100% - 6px) 6px,
    calc(100% - 6px) 10px,
    calc(100% - 4px) 10px,
    calc(100% - 4px) 14px,
    calc(100% - 2px) 14px,
    calc(100% - 2px) calc(100% - 14px),
    calc(100% - 4px) calc(100% - 14px),
    calc(100% - 4px) calc(100% - 10px),
    calc(100% - 6px) calc(100% - 10px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 10px) calc(100% - 6px),
    calc(100% - 10px) calc(100% - 4px),
    calc(100% - 14px) calc(100% - 4px),
    calc(100% - 14px) calc(100% - 2px),
    14px calc(100% - 2px),
    14px calc(100% - 4px),
    10px calc(100% - 4px),
    10px calc(100% - 6px),
    6px calc(100% - 6px),
    6px calc(100% - 10px),
    4px calc(100% - 10px),
    4px calc(100% - 14px),
    2px calc(100% - 14px),
    2px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ff0000;
  display: block;
  pointer-events: none;
}

.pixelCorners::after {
  margin: -2px;
}

.pixelCornersDescription,
.pixelCornersDescriptionWrapper {
  clip-path: polygon(0px calc(100% - 32px),
    2px calc(100% - 32px),
    2px calc(100% - 26px),
    4px calc(100% - 26px),
    4px calc(100% - 24px),
    4px calc(100% - 22px),
    6px calc(100% - 22px),
    6px calc(100% - 20px),
    6px calc(100% - 18px),
    8px calc(100% - 18px),
    8px calc(100% - 14px),
    10px calc(100% - 14px),
    10px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 10px),
    14px calc(100% - 10px),
    14px calc(100% - 8px),
    18px calc(100% - 8px),
    18px calc(100% - 6px),
    20px calc(100% - 6px),
    22px calc(100% - 6px),
    22px calc(100% - 4px),
    24px calc(100% - 4px),
    26px calc(100% - 4px),
    26px calc(100% - 2px),
    32px calc(100% - 2px),
    32px 100%,
    calc(100% - 32px) 100%,
    calc(100% - 32px) calc(100% - 2px),
    calc(100% - 26px) calc(100% - 2px),
    calc(100% - 26px) calc(100% - 4px),
    calc(100% - 24px) calc(100% - 4px),
    calc(100% - 22px) calc(100% - 4px),
    calc(100% - 22px) calc(100% - 6px),
    calc(100% - 20px) calc(100% - 6px),
    calc(100% - 18px) calc(100% - 6px),
    calc(100% - 18px) calc(100% - 8px),
    calc(100% - 14px) calc(100% - 8px),
    calc(100% - 14px) calc(100% - 10px),
    calc(100% - 12px) calc(100% - 10px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 10px) calc(100% - 12px),
    calc(100% - 10px) calc(100% - 14px),
    calc(100% - 8px) calc(100% - 14px),
    calc(100% - 8px) calc(100% - 18px),
    calc(100% - 6px) calc(100% - 18px),
    calc(100% - 6px) calc(100% - 20px),
    calc(100% - 6px) calc(100% - 22px),
    calc(100% - 4px) calc(100% - 22px),
    calc(100% - 4px) calc(100% - 24px),
    calc(100% - 4px) calc(100% - 26px),
    calc(100% - 2px) calc(100% - 26px),
    calc(100% - 2px) calc(100% - 32px),
    100% calc(100% - 32px),
    100% 32px,
    calc(100% - 2px) 32px,
    calc(100% - 2px) 26px,
    calc(100% - 4px) 26px,
    calc(100% - 4px) 24px,
    calc(100% - 4px) 22px,
    calc(100% - 6px) 22px,
    calc(100% - 6px) 20px,
    calc(100% - 6px) 18px,
    calc(100% - 8px) 18px,
    calc(100% - 8px) 14px,
    calc(100% - 10px) 14px,
    calc(100% - 10px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 10px,
    calc(100% - 14px) 10px,
    calc(100% - 14px) 8px,
    calc(100% - 18px) 8px,
    calc(100% - 18px) 6px,
    calc(100% - 20px) 6px,
    calc(100% - 22px) 6px,
    calc(100% - 22px) 4px,
    calc(100% - 24px) 4px,
    calc(100% - 26px) 4px,
    calc(100% - 26px) 2px,
    calc(100% - 32px) 2px,
    calc(100% - 32px) 0px,
    32px 0px,
    32px 2px,
    26px 2px,
    26px 4px,
    24px 4px,
    22px 4px,
    22px 6px,
    20px 6px,
    18px 6px,
    18px 8px,
    14px 8px,
    14px 10px,
    12px 10px,
    12px 12px,
    10px 12px,
    10px 14px,
    8px 14px,
    8px 18px,
    6px 18px,
    6px 20px,
    6px 22px,
    4px 22px,
    4px 24px,
    4px 26px,
    2px 26px,
    2px 32px,
    0px 32px);
  position: relative;
}
.pixelCornersDescription {
  border: 8px solid transparent;
}
.pixelCornersDescriptionWrapper {
  width: fit-content;
  height: fit-content;
}
.pixelCornersDescriptionWrapper .pixelCornersDescription {
  display: block;
  clip-path: polygon(8px 36px,
    10px 36px,
    10px 30px,
    12px 30px,
    12px 28px,
    12px 26px,
    14px 26px,
    14px 24px,
    14px 22px,
    16px 22px,
    16px 18px,
    18px 18px,
    18px 16px,
    22px 16px,
    22px 14px,
    24px 14px,
    26px 14px,
    26px 12px,
    28px 12px,
    30px 12px,
    30px 10px,
    36px 10px,
    36px 8px,
    calc(100% - 36px) 8px,
    calc(100% - 36px) 10px,
    calc(100% - 30px) 10px,
    calc(100% - 30px) 12px,
    calc(100% - 28px) 12px,
    calc(100% - 26px) 12px,
    calc(100% - 26px) 14px,
    calc(100% - 24px) 14px,
    calc(100% - 22px) 14px,
    calc(100% - 22px) 16px,
    calc(100% - 18px) 16px,
    calc(100% - 18px) 18px,
    calc(100% - 16px) 18px,
    calc(100% - 16px) 22px,
    calc(100% - 14px) 22px,
    calc(100% - 14px) 24px,
    calc(100% - 14px) 26px,
    calc(100% - 12px) 26px,
    calc(100% - 12px) 28px,
    calc(100% - 12px) 30px,
    calc(100% - 10px) 30px,
    calc(100% - 10px) 36px,
    calc(100% - 8px) 36px,
    calc(100% - 8px) calc(100% - 36px),
    calc(100% - 10px) calc(100% - 36px),
    calc(100% - 10px) calc(100% - 30px),
    calc(100% - 12px) calc(100% - 30px),
    calc(100% - 12px) calc(100% - 28px),
    calc(100% - 12px) calc(100% - 26px),
    calc(100% - 14px) calc(100% - 26px),
    calc(100% - 14px) calc(100% - 24px),
    calc(100% - 14px) calc(100% - 22px),
    calc(100% - 16px) calc(100% - 22px),
    calc(100% - 16px) calc(100% - 18px),
    calc(100% - 18px) calc(100% - 18px),
    calc(100% - 18px) calc(100% - 16px),
    calc(100% - 22px) calc(100% - 16px),
    calc(100% - 22px) calc(100% - 14px),
    calc(100% - 24px) calc(100% - 14px),
    calc(100% - 26px) calc(100% - 14px),
    calc(100% - 26px) calc(100% - 12px),
    calc(100% - 28px) calc(100% - 12px),
    calc(100% - 30px) calc(100% - 12px),
    calc(100% - 30px) calc(100% - 10px),
    calc(100% - 36px) calc(100% - 10px),
    calc(100% - 36px) calc(100% - 8px),
    36px calc(100% - 8px),
    36px calc(100% - 10px),
    30px calc(100% - 10px),
    30px calc(100% - 12px),
    28px calc(100% - 12px),
    26px calc(100% - 12px),
    26px calc(100% - 14px),
    24px calc(100% - 14px),
    22px calc(100% - 14px),
    22px calc(100% - 16px),
    18px calc(100% - 16px),
    18px calc(100% - 18px),
    16px calc(100% - 18px),
    16px calc(100% - 22px),
    14px calc(100% - 22px),
    14px calc(100% - 24px),
    14px calc(100% - 26px),
    12px calc(100% - 26px),
    12px calc(100% - 28px),
    12px calc(100% - 30px),
    10px calc(100% - 30px),
    10px calc(100% - 36px),
    8px calc(100% - 36px));
}
.pixelCornersDescription::after,
.pixelCornersDescriptionWrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 32px),
    2px calc(100% - 32px),
    2px calc(100% - 26px),
    4px calc(100% - 26px),
    4px calc(100% - 24px),
    4px calc(100% - 22px),
    6px calc(100% - 22px),
    6px calc(100% - 20px),
    6px calc(100% - 18px),
    8px calc(100% - 18px),
    8px calc(100% - 14px),
    10px calc(100% - 14px),
    10px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 10px),
    14px calc(100% - 10px),
    14px calc(100% - 8px),
    18px calc(100% - 8px),
    18px calc(100% - 6px),
    20px calc(100% - 6px),
    22px calc(100% - 6px),
    22px calc(100% - 4px),
    24px calc(100% - 4px),
    26px calc(100% - 4px),
    26px calc(100% - 2px),
    32px calc(100% - 2px),
    32px 100%,
    calc(100% - 32px) 100%,
    calc(100% - 32px) calc(100% - 2px),
    calc(100% - 26px) calc(100% - 2px),
    calc(100% - 26px) calc(100% - 4px),
    calc(100% - 24px) calc(100% - 4px),
    calc(100% - 22px) calc(100% - 4px),
    calc(100% - 22px) calc(100% - 6px),
    calc(100% - 20px) calc(100% - 6px),
    calc(100% - 18px) calc(100% - 6px),
    calc(100% - 18px) calc(100% - 8px),
    calc(100% - 14px) calc(100% - 8px),
    calc(100% - 14px) calc(100% - 10px),
    calc(100% - 12px) calc(100% - 10px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 10px) calc(100% - 12px),
    calc(100% - 10px) calc(100% - 14px),
    calc(100% - 8px) calc(100% - 14px),
    calc(100% - 8px) calc(100% - 18px),
    calc(100% - 6px) calc(100% - 18px),
    calc(100% - 6px) calc(100% - 20px),
    calc(100% - 6px) calc(100% - 22px),
    calc(100% - 4px) calc(100% - 22px),
    calc(100% - 4px) calc(100% - 24px),
    calc(100% - 4px) calc(100% - 26px),
    calc(100% - 2px) calc(100% - 26px),
    calc(100% - 2px) calc(100% - 32px),
    100% calc(100% - 32px),
    100% 32px,
    calc(100% - 2px) 32px,
    calc(100% - 2px) 26px,
    calc(100% - 4px) 26px,
    calc(100% - 4px) 24px,
    calc(100% - 4px) 22px,
    calc(100% - 6px) 22px,
    calc(100% - 6px) 20px,
    calc(100% - 6px) 18px,
    calc(100% - 8px) 18px,
    calc(100% - 8px) 14px,
    calc(100% - 10px) 14px,
    calc(100% - 10px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 10px,
    calc(100% - 14px) 10px,
    calc(100% - 14px) 8px,
    calc(100% - 18px) 8px,
    calc(100% - 18px) 6px,
    calc(100% - 20px) 6px,
    calc(100% - 22px) 6px,
    calc(100% - 22px) 4px,
    calc(100% - 24px) 4px,
    calc(100% - 26px) 4px,
    calc(100% - 26px) 2px,
    calc(100% - 32px) 2px,
    calc(100% - 32px) 0px,
    32px 0px,
    32px 2px,
    26px 2px,
    26px 4px,
    24px 4px,
    22px 4px,
    22px 6px,
    20px 6px,
    18px 6px,
    18px 8px,
    14px 8px,
    14px 10px,
    12px 10px,
    12px 12px,
    10px 12px,
    10px 14px,
    8px 14px,
    8px 18px,
    6px 18px,
    6px 20px,
    6px 22px,
    4px 22px,
    4px 24px,
    4px 26px,
    2px 26px,
    2px 32px,
    0px 32px,
    0px 50%,
    8px 50%,
    8px 36px,
    10px 36px,
    10px 30px,
    12px 30px,
    12px 28px,
    12px 26px,
    14px 26px,
    14px 24px,
    14px 22px,
    16px 22px,
    16px 18px,
    18px 18px,
    18px 16px,
    22px 16px,
    22px 14px,
    24px 14px,
    26px 14px,
    26px 12px,
    28px 12px,
    30px 12px,
    30px 10px,
    36px 10px,
    36px 8px,
    calc(100% - 36px) 8px,
    calc(100% - 36px) 10px,
    calc(100% - 30px) 10px,
    calc(100% - 30px) 12px,
    calc(100% - 28px) 12px,
    calc(100% - 26px) 12px,
    calc(100% - 26px) 14px,
    calc(100% - 24px) 14px,
    calc(100% - 22px) 14px,
    calc(100% - 22px) 16px,
    calc(100% - 18px) 16px,
    calc(100% - 18px) 18px,
    calc(100% - 16px) 18px,
    calc(100% - 16px) 22px,
    calc(100% - 14px) 22px,
    calc(100% - 14px) 24px,
    calc(100% - 14px) 26px,
    calc(100% - 12px) 26px,
    calc(100% - 12px) 28px,
    calc(100% - 12px) 30px,
    calc(100% - 10px) 30px,
    calc(100% - 10px) 36px,
    calc(100% - 8px) 36px,
    calc(100% - 8px) calc(100% - 36px),
    calc(100% - 10px) calc(100% - 36px),
    calc(100% - 10px) calc(100% - 30px),
    calc(100% - 12px) calc(100% - 30px),
    calc(100% - 12px) calc(100% - 28px),
    calc(100% - 12px) calc(100% - 26px),
    calc(100% - 14px) calc(100% - 26px),
    calc(100% - 14px) calc(100% - 24px),
    calc(100% - 14px) calc(100% - 22px),
    calc(100% - 16px) calc(100% - 22px),
    calc(100% - 16px) calc(100% - 18px),
    calc(100% - 18px) calc(100% - 18px),
    calc(100% - 18px) calc(100% - 16px),
    calc(100% - 22px) calc(100% - 16px),
    calc(100% - 22px) calc(100% - 14px),
    calc(100% - 24px) calc(100% - 14px),
    calc(100% - 26px) calc(100% - 14px),
    calc(100% - 26px) calc(100% - 12px),
    calc(100% - 28px) calc(100% - 12px),
    calc(100% - 30px) calc(100% - 12px),
    calc(100% - 30px) calc(100% - 10px),
    calc(100% - 36px) calc(100% - 10px),
    calc(100% - 36px) calc(100% - 8px),
    36px calc(100% - 8px),
    36px calc(100% - 10px),
    30px calc(100% - 10px),
    30px calc(100% - 12px),
    28px calc(100% - 12px),
    26px calc(100% - 12px),
    26px calc(100% - 14px),
    24px calc(100% - 14px),
    22px calc(100% - 14px),
    22px calc(100% - 16px),
    18px calc(100% - 16px),
    18px calc(100% - 18px),
    16px calc(100% - 18px),
    16px calc(100% - 22px),
    14px calc(100% - 22px),
    14px calc(100% - 24px),
    14px calc(100% - 26px),
    12px calc(100% - 26px),
    12px calc(100% - 28px),
    12px calc(100% - 30px),
    10px calc(100% - 30px),
    10px calc(100% - 36px),
    8px calc(100% - 36px),
    8px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ff0000;
  display: block;
  pointer-events: none;
}
.pixelCornersDescription::after {
  margin: -8px;
}

.white::after{
    background: #fff;
}

.purple::after{
    background: #603B88;
}

.blue::after{
    background: #3B6388;
}

.green::after{
    background: #3B8863;
}

.red::after{
    background: #AD3F3F;
}

