.container-home {
    padding: 86px 0 86px 0;
    background-color: var(--bg-purple);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.home-img {
    width: 500px;
    height: 570px;
}

.home-text {
    text-shadow: 5px 7px 0px #000;
}

.text-poke {
    font-size: 100px;
    color: var(--text-color-white);
    margin-bottom: 20px;
}

.text-ide {
    margin-left: -15px;
    font-size: 105px;
    color: var(--text-color-purple);
}

.home-button {
    width: 100%;
    height: 85px;
    background: none;
    border: 2px solid var(--button-border);
    border-radius: 30px;
    font-size: 30px;
    color: var(--text-color-white);
    text-shadow: 1px 4px 0px #000;
    transition: transform 0.4s ease-in-out, color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.home-button:hover {
    background-color: var(--text-color-white);
    color: var(--text-color-purple);
    transform: scale(1.1);
}