/* Lucas M. */

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #603B88;
  scroll-snap-align: start;
  gap: 40px;
}

.img {
  width: max-content;
  height: 720px;
}

.title {
  width: 592;
  height: 290;
  font-weight: 400;
  font-size: 144px;
  line-height: 1;
  color: white;
}

.redText {
  color: #B22559;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
  padding-top: 32px;
  padding-bottom: 32px;

  font-size: 44px;
  transition: all;
  transition-duration: 300ms;
}

.button:hover {
  transition: all;
  transition-duration: 300ms;
  color: #000;
  background-color: #fff;
  text-decoration-line: underline;
  text-underline-offset: 4px;
  font-size: 60px;
}

.button:hover span {
  filter: drop-shadow(3px 3px 0px #CFCFCF);
}

.dropShadow {
  filter: drop-shadow(5px 7px 0px #000000);
}