.container-inicio {
    background-color: var(--bg-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 302px;
    height: 893px;
    gap: 50px;
}

.inicio-title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 70px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: center;
    color: #603B88;
}

.inicio-conteudo {
    display: table;
    border-radius: 20px;
    border: 4px solid #603B88;
    box-sizing: border-box;
    width: 1775px;
    height: 531px;
}
.inicio-conteudo-cell1 {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    width: 684px;
    height: 521px;
}

.text-escolha {
    text-align: center;
    font-family: Press Start 2P;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    color: #603B88;
}

.inicio-img {
    margin-top: 30px;
    width: 322px;
    height: 288px;
}

.vl {
    border-left: 4px solid #603B88;
    height: 521px;
    position: absolute;
    left: 684px auto;
}

.inicio-conteudo-cell2 {
    vertical-align: middle;
    display: table-cell;
    width: 1091PX;
    height: 521px;
    
}

.inicio-texto-aspas{
    margin-left: auto;
    margin-right: auto;
    width: 893px;
    height: 444px;
}

.inicio-aspas{
    margin: 10px;
}

.text-fala {  
    margin-left: auto;
    margin-right: auto;
    width: 729px;
    height: 297px;
    font-family: 'uni05_53';
    font-size: 29px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    color: #603B88;
}

.inicio-aspas-end{
    
    margin: 10px;
    margin-left: 92%;
    transform: scaleX(-1);
}

.inicio-links {
    display: table;
    width: 1775px;
    height: 148px;
}

.inicio-elements{
    display: table-cell;
    width: 684px;
    height: 148px;
}

.inicio-ide{
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    width: 1091px;
    height: 148px;
    border-radius: 20px;
    border: 4px solid #603B88;
    box-sizing: border-box;
}

.inicio-button {
    width: 196px;
    height: 148px;
    width: 33%;
    background: none;
    border: 2px transparent var(--button-border);
    transition: transform 0.4s ease-in-out, color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.link {
    margin-top: auto;
    font-family: Press Start 2P;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #603B88;
}

.button-icon {
    width: 196px;
    height: 98px;
}

.button-ide {
    width: 140px;
    height: 75px;
}

.inicio-button:hover {
    color: var(--text-color-purple);
    transform: scale(1.1);
}